<div class="cmp-hero" data-sly-test="${wcmmode.edit}">
    <div data-sly-resource="${'title' @ resourceType='zendesk-react-poc/components/title'}"></div>
    <div data-sly-resource="${'text' @ resourceType='zendesk-react-poc/components/text'}"></div>
    <div data-sly-resource="${'button' @ resourceType='zendesk-react-poc/components/button'}"></div>
    <div data-sly-resource="${'image' @ resourceType='zendesk-react-poc/components/image'}"></div>
</div>
<div data-sly-test="${!wcmmode.edit}" id="react-title"></div>
